.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.grid {
  height: 600px;
  width: 1000px;
}

#modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}
#modal-container:empty {
  display: none;
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0 78px 50%;
  padding-left: 30px;
  transform: translateX(-50%);
  width: 20%;
  height: 40%;
  box-sizing: border-box;
  background-color: #CCCCCC;
  border: 2px solid #333355;  
  border-radius: 3px;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  z-index: 3;
}
#modal:after {
  content: "";
  clear: both;
  display: block;
}

.react-flow {
  border: 3px solid #333355;
  border-radius: 10px;  
}

.react-flow__renderer {
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
.react-flow__pane { 
  box-shadow: 0px 0px 3px 2px inset #999999;
}

.react-flow__node {
  display: flex;
  justify-content: center;
  margin: 0 2px 0 2px;
  align-items: center;
  color: #FFFFFF;
  height: 150px;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
  border-radius: 6px;  
  text-align: center;
  cursor: move;
}

.react-flow__node-trigger {
  background-color: #660000;
  border: 2px solid #553333;
}


.react-flow__node-extract {
  background-color: #660066;
  border: 2px solid #553355;
}

.react-flow__node-transform {
  background-color: #006666;
  border: 2px solid #335555;
}

.react-flow__node-load {
  background-color: #000066;
  border: 2px solid #333355;
}